.design {
    background-color: #FFFFFF;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #FFFFFF 20%, #FFFFFF 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #FFFFFF 20%, #FFFFFF 80%, transparent 80%, transparent) 40px 40px, linear-gradient(#44AA00 3.2px, transparent 3.2px) 0 -1.6px, linear-gradient(90deg, #44AA00 3.2px, #FFFFFF 3.2px) -1.6px 0;
    background-size: 80px 80px, 80px 80px, 40px 40px, 40px 40px;
}

/* Default height for small devices */
#intro-example {
    height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-example {
        height: 600px;
    }
}

#profilePic {
    /* margin-top: 7.5em;
    margin-bottom: 7.5em; */
    height: 15em;
    border-style: solid;
    border-color: rgb(255, 243, 243);
    border-radius: 50%;
    box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
    margin-top: 2em;
    margin-bottom: 2em;
}
nav {
    border-bottom-color: black;
    border-bottom-width: 2em;
}